<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="BaiduPOIEntities" connectionString="metadata=res://*/BaiDuPOIContext.csdl|res://*/BaiDuPOIContext.ssdl|res://*/BaiDuPOIContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=Kiwi;password=123456;persistsecurityinfo=True;database=baidupoi&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>